<%- include('_header.ejs') %>

<!-- PLEASE NO CHANGES BELOW THIS LINE (UNTIL I SAY SO) -->

<script language="javascript" type="text/javascript" src="Grid.js"></script>
<script language="javascript" type="text/javascript" src="IntersectionShape.js"></script>
<script language="javascript" type="text/javascript" src="Shape.js"></script>
<script language="javascript" type="text/javascript" src="ShapeState.js"></script>
<script language="javascript" type="text/javascript" src="Node.js"></script>
<script language="javascript" type="text/javascript" src="NodeState.js"></script>
<script language="javascript" type="text/javascript" src="Vertex.js"></script>
<script language="javascript" type="text/javascript" src="PointMarker.js"></script>
<script language="javascript" type="text/javascript" src="MouseState.js"></script>
<script language="javascript" type="text/javascript" src="MouseClickedPoint.js"></script>
<script language="javascript" type="text/javascript" src="MouseDraggedDistance.js"></script>
<script language="javascript" type="text/javascript" src="Handle.js"></script>
<script language="javascript" type="text/javascript" src="Config.js"></script>
<script language="javascript" type="text/javascript" src="GPathStyle.js"></script>
<script language="javascript" type="text/javascript" src="Draw.js"></script>
<script language="javascript" type="text/javascript" src="bezier-test.js"></script>

<!-- OK, YOU CAN MAKE CHANGES BELOW THIS LINE AGAIN -->
<script src="https://cdn.rawgit.com/nodebox/g.js/master/dist/g.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>

<div class="row">
    <div class="col-sm-12">
        <h1>Bezier Test</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" id="grasa-div">
        
    </div>
</div>



<%- include('_footer.ejs') %>