<!DOCTYPE html>

<HTML>

<head>
    <script language="javascript" type="text/javascript" src="Grid.js"></script>
    <script language="javascript" type="text/javascript" src="IntersectionShape.js"></script>
    <script language="javascript" type="text/javascript" src="Shape.js"></script>
    <script language="javascript" type="text/javascript" src="ShapeState.js"></script>
    <script language="javascript" type="text/javascript" src="Node.js"></script>
    <script language="javascript" type="text/javascript" src="NodeState.js"></script>
    <script language="javascript" type="text/javascript" src="Vertex.js"></script>
    <script language="javascript" type="text/javascript" src="PointMarker.js"></script>
    <script language="javascript" type="text/javascript" src="MouseState.js"></script>
    <script language="javascript" type="text/javascript" src="MouseClickedPoint.js"></script>
    <script language="javascript" type="text/javascript" src="MouseDraggedDistance.js"></script>
    <script language="javascript" type="text/javascript" src="Handle.js"></script>
    <script language="javascript" type="text/javascript" src="Config.js"></script>
    <script language="javascript" type="text/javascript" src="GPathStyle.js"></script>
    <script language="javascript" type="text/javascript" src="Draw.js"></script>
    <script language="javascript" type="text/javascript" src="ShapesLibrary.js"></script>
    <script language="javascript" type="text/javascript" src="grasa.js"></script>
    
    <!-- OK, YOU CAN MAKE CHANGES BELOW THIS LINE AGAIN -->
    <script src="https://cdn.rawgit.com/nodebox/g.js/master/dist/g.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    
</head>


<body onload="passEmailToServer('<%= email %>');">

    <div class="row">
        <div class="col-sm-12">
            <!-- <h1>An abstract shape ideation tool</h1> -->
            <h2>Welcome <%= email %> </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="grasa-div">
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" id="save-btn">
            <button onclick="myFunction('<%= email %>')" class="btn btn-primary btn-block">Save</button>
            <button onclick="loadRequest('<%= email %>')" class="btn btn-primary btn-block">Load</button>
        </div>
    </div>


</body>

</HTML>


<script> 


    function passEmailToServer(email) {
        socket.emit('user email', `${email}`);
    }

    function myFunction(email) {
        alert(`shapesLibrary length is: ${shapesLibrary.shapesArray.length}`);
        
        socket.emit('chat message', JSON.stringify(shapesLibrary, null, 4));
    }

    function loadRequest(email) {
        //console.log(`load request btn presssed...`);
        socket.emit('load request', `${email}`);
    }



    



</script>